<a href="https://colab.research.google.com/github/Tanjul5/World-Bank-Education-EDA-capston-1/blob/main/Copy_of_Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

 **First of all import all libraries**

In [2]:
from collections import Counter
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Let's Mount the Drive and analyse the data..

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
Hotel_book_df = pd.read_csv('/content/sample_data/Hotel Bookings.csv')

In [9]:
Hotel_book_df.describe

<bound method NDFrame.describe of                hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119390 rows x 32 columns]>

In [10]:
#checking top 10 rows
Hotel_book_df.head

<bound method NDFrame.head of                hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119390 rows x 32 columns]>

In [12]:
#checking last 10 rows 
Hotel_book_df.tail

<bound method NDFrame.tail of                hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119390 rows x 32 columns]>

In [13]:
#check columns name
Hotel_book_df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [14]:
Hotel_book_df.shape

(119390, 32)

In [17]:
#check null values
Hotel_book_df.isnull().count

<bound method DataFrame.count of         hotel  is_canceled  ...  reservation_status  reservation_status_date
0       False        False  ...               False                    False
1       False        False  ...               False                    False
2       False        False  ...               False                    False
3       False        False  ...               False                    False
4       False        False  ...               False                    False
...       ...          ...  ...                 ...                      ...
119385  False        False  ...               False                    False
119386  False        False  ...               False                    False
119387  False        False  ...               False                    False
119388  False        False  ...               False                    False
119389  False        False  ...               False                    False

[119390 rows x 32 columns]>

In [18]:
# dataset summary statistics (count,mean,std,min etc) â€“ Integer and numeric variables.
Hotel_book_df.describe().transpose()

                                   count         mean  ...     75%     max
is_canceled                     119390.0     0.370416  ...     1.0     1.0
lead_time                       119390.0   104.011416  ...   160.0   737.0
arrival_date_year               119390.0  2016.156554  ...  2017.0  2017.0
arrival_date_week_number        119390.0    27.165173  ...    38.0    53.0
arrival_date_day_of_month       119390.0    15.798241  ...    23.0    31.0
stays_in_weekend_nights         119390.0     0.927599  ...     2.0    19.0
stays_in_week_nights            119390.0     2.500302  ...     3.0    50.0
adults                          119390.0     1.856403  ...     2.0    55.0
children                        119386.0     0.103890  ...     0.0    10.0
babies                          119390.0     0.007949  ...     0.0    10.0
is_repeated_guest               119390.0     0.031912  ...     0.0     1.0
previous_cancellations          119390.0     0.087118  ...     0.0    26.0
previous_bookings_not_canceled  119390.0     0.137097  ...     0.0    72.0
booking_changes                 119390.0     0.221124  ...     0.0    21.0
agent                           103050.0    86.693382  ...   229.0   535.0
company                           6797.0   189.266735  ...   270.0   543.0
days_in_waiting_list            119390.0     2.321149  ...     0.0   391.0
adr                             119390.0   101.831122  ...   126.0  5400.0
required_car_parking_spaces     119390.0     0.062518  ...     0.0     8.0
total_of_special_requests       119390.0     0.571363  ...     1.0     5.0

[20 rows x 8 columns]